@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}
.displayed{
	display: block;
	margin-left: 10px;
	margin-right: auto;
	margin-top: initial;
	width: 150px;
	height: 57px;
	border-radius: 0%;
	top: 20px;
}

html{
	scroll-behavior: auto; 
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	html {
		height: 100%;
	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #ffffff;
		height: 100%;
		min-width: 320px;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}



/* Type */

	body, input, textarea, select {
		font-family: "Source Sans Pro", "sans-serif";
		font-weight: 300;
		font-size: 18pt;
		line-height: 1.75em;
		color: #39454b;
		letter-spacing: 0.025em;
	}


	h1, h2, h3, h4, h5, h6 {
		font-weight: 900;
		color: inherit;
		letter-spacing: -0.0325em;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 2.25em;
		line-height: 1.25em;
		letter-spacing: -0.05em;
	}


	strong, b {
		font-weight: 900;
		color: inherit;
	}

	em, i {
		font-style: italic;
	}

	a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		color: #98c593;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #e5e6e7;
	}

	blockquote {
		border-left: solid 0.5em #e5e6e7;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}



/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	.button,
	button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
		background-color: #98c593;
		border: 0;
		border-radius: 3.5em;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		height: 3.5em;
		line-height: 3.5em;
		outline: 0;
		padding: 0 2em 0 2em;
		position: relative;
		text-align: center;
		text-decoration: none;
	}

    .button:hover,
    button:hover {
        background-color: #a8cea4;
    }

/* Form */

	form {
		margin: 0 0 2em 0;
	}

		form > :last-child {
			margin-bottom: 0;
		}

		form > .fields {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			width: calc(100% + 3em);
			margin: -1.5em 0 2em -1.5em;
		}

			form > .fields > .field {
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
				-moz-flex-shrink: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-shrink: 0;
				flex-shrink: 0;
				padding: 1.5em 0 0 1.5em;
				width: calc(100% - 1.5em);
			}

				form > .fields > .field.half {
					width: calc(50% - 0.75em);
				}

				form > .fields > .field.third {
					width: calc(100%/3 - 0.5em);
				}

				form > .fields > .field.quarter {
					width: calc(25% - 0.375em);
				}

		

	label {
		display: block;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
		color: #39454b;
		display: block;
		width: 100%;
		padding: 0.65em 0.75em;
		background: none;
		border: solid 2px #e5e6e7;
		color: inherit;
		border-radius: 0.5em;
		outline: none;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		input[type="search"]:focus,
		input[type="url"]:focus,
		select:focus,
		textarea:focus {
			border-color: #9ac8e9;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select {
		line-height: 1.35em;
	}

	textarea {
		min-height: 8em;
	}

	::-moz-focus-inner {
		border: 0;
	}

	::-webkit-input-placeholder {
		opacity: 0.375;
	}

	:-moz-placeholder {
		opacity: 0.375;
	}

	::-moz-placeholder {
		opacity: 0.375;
	}

	:-ms-input-placeholder {
		opacity: 0.375;
	}

/* Icon */

	.icon {
		text-decoration: none;
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon:before {
			line-height: inherit;
		}

		.icon > .label {
			display: none;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}



/* List */

ul.menu li {
    display: inline-block;
    line-height: 1em;
    border-left: solid 1px #e5e6e7;
    padding: 0 0 0 0.5em;
    margin: 0 0 0 0.5em;
}


/* Icons */

	ul.icons {
		cursor: default;
	}

		ul.icons li {
			display: inline-block;
		}

		ul.icons a {
			display: inline-block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			border: 0;
		}



/* Header */

	#header {
		position: fixed;
		z-index: 100;  
		left: 0;
		top: 0;
		width: 100%;
		background: rgb(255, 255, 255);
		line-height: 3em;
		box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
		#header img{
			display: block;
			margin: 10px;
			width: 200px;
			height:80px;
		}

		#header h1 {
			left: 1em;
			top: 0;
			height: 3em;
			cursor: default;
			font-size: 50px;
		}

			#header h1 a {
				font-size: 1.25em;
			}

		#header nav {
			right: 0.5em;
			top: 0;
			height: 3em;
			line-height: 3em;
		}

			#header nav ul {
				margin: 0;
			}

				#header nav ul li {
					display: inline-block;
					margin-left: 0.5em;
					font-size: 0.9em;
				}

					#header nav ul li a {
						display: block;
						color: inherit;
						text-decoration: none;
						font-size: large;
						height: 3em;
						line-height: 3em;
						padding: 0 0.5em 0 0.5em;
						outline: 0;
					}

	body {
		padding-top: 3em;
	}


/* Footer */

	#footer {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		position: relative;
		margin: 0;
		line-height: 1em;
		padding: 1.5em;
		background: #39454b;
		color: rgba(185, 186, 187, 0.5);
		overflow: hidden;
	}

		#footer > * {
			margin-bottom: 0;
		}

		#footer a {
			color: inherit;
		}

			#footer a:hover {
				color: #b9babb;
			}

		#footer ul.menu {
			margin: 0;
		}

			#footer ul.menu li {
				border-left-color: rgba(185, 186, 187, 0.2);
				font-size: 0.9em;
			}


/* Icon */

.icons{
    max-width: 50%;
}

.icon{
    margin-left: 10px;
    margin-right: 10px;
}

.main{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("images/window.png") no-repeat center fixed; 
    -webkit-background-size: cover; 
    background-size: cover;
}
.titre{
    text-shadow:0 0 2px #009fe9,0 0 30px #009fe9,0px 0px 5px #009fe9, 0 0 150px #009fe9;color:#009fe9;
    background-color:#262626;

    border-radius: 10px;
    margin-top: 200px;
    
    font-size: 100px;
    padding: 50px;

}
.titre2{
    text-shadow:0 0 2px #ff4848,0 0 30px #ff4848,0px 0px 5px #ff4848, 0 0 0px #ff4848;color:#ff4848;
    background-color:#262626;

    border-radius: 10px;
    margin-top: 30px;
    
    font-size: 100px;
    padding: 50px;
}
.titre3{
    text-shadow:0 0 2px #4aff62,0 0 30px #4aff62,0px 0px 5px #4aff62, 0 0 0px #4aff62;color:#4aff62;
    background-color:#262626;

    border-radius: 10px;
    margin-top: 30px;
    
    font-size: 100px;
    padding: 50px;
}
.t{
    text-shadow:0 0 2px #009fe9,0 0 30px #009fe9,0px 0px 5px #009fe9, 0 0 150px #009fe9;color:#009fe9;
    background-color:#262626;
}
.ma{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 19%;
}
.regbox{
    margin: 20px;
    border-radius: 10px;
    background-color:#262626;
    color: white;
    padding: 50px;
}
.reglis{
    list-style: "\1F680";
}


@media (-webkit-min-device-pixel-ratio: 2) {

	body:before {
		line-height: 2.025em;
	}

}

	@media screen and (max-width: 1920px) {

		body, input, textarea, select {
			font-size: 17pt;
		}

	}

	@media screen and (max-width: 1680px) {

		body, input, textarea, select {
			font-size: 15pt;
		}

	}

	@media screen and (max-width: 1280px) {

		body, input, textarea, select {
			font-size: 13pt;
		}

	}

	@media screen and (max-width: 1000px) {

		body, input, textarea, select {
			font-size: 13pt;
		}

	}

	@media screen and (max-width: 736px) {

		body, input, textarea, select {
			font-size: 12pt;
			line-height: 1.5em;
		}

	}

@media screen and (max-width: 736px) {

	h2 {
		font-size: 1.5em;
	}

}

	@media screen and (max-width: 736px) {

		.box {
			padding: 1em;
		}

			.box.style2 {
				padding: 1.5em 1.25em 1.5em 1.25em;
				background-color: rgba(255, 255, 255, 0.9);
			}

	}

	@media screen and (max-width: 480px) {

		form > .fields {
			width: calc(100% + 2em);
			margin: -1em 0 2em -1em;
		}

			form > .fields > .field {
				padding: 1em 0 0 1em;
				width: calc(100% - 1em);
			}

				form > .fields > .field.half {
					width: calc(100% - 1em);
				}

				form > .fields > .field.third {
					width: calc(100% - 1em);
				}

				form > .fields > .field.quarter {
					width: calc(100% - 1em);
				}

	}

	@media screen and (max-width: 480px) {

		ul.actions:not(.fixed) {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-left: 0;
			width: 100% !important;
		}

			ul.actions:not(.fixed) li {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				padding: 1em 0 0 0;
				text-align: center;
				width: 100%;
			}

				ul.actions:not(.fixed) li > * {
					width: 100%;
				}

				ul.actions:not(.fixed) li:first-child {
					padding-top: 0;
				}

				ul.actions:not(.fixed) li input[type="submit"],
				ul.actions:not(.fixed) li input[type="reset"],
				ul.actions:not(.fixed) li input[type="button"],
				ul.actions:not(.fixed) li button,
				ul.actions:not(.fixed) li .button {
					width: 100%;
				}

					ul.actions:not(.fixed) li input[type="submit"].icon:before,
					ul.actions:not(.fixed) li input[type="reset"].icon:before,
					ul.actions:not(.fixed) li input[type="button"].icon:before,
					ul.actions:not(.fixed) li button.icon:before,
					ul.actions:not(.fixed) li .button.icon:before {
						margin-left: -0.5rem;
					}
	}

	@media screen and (max-width: 736px) {

		.poptrox-popup .nav-next:before,
		.poptrox-popup .nav-previous:before {
			width: 48px;
			height: 32px;
			background-size: contain;
			margin: -16px 0 0 0;
		}

		.poptrox-popup .closer:before {
			right: 12px;
			top: 12px;
			width: 20px;
			height: 20px;
			box-shadow: inset 0 0 0 1px #fff;
			background-size: contain;
			opacity: 0.65;
		}

	}

	@media screen and (max-width: 736px) {

			#header h1 {
				text-align: center;
				position: relative;
				left: 0;
				top: 0;
				height: 2.5em;
				line-height: 2.5em;
			}

				#header h1 a {
					font-size: 1em;
				}

			#header nav {
				display: none;
			}

	}

	@media screen and (max-width: 736px) {

		body {
			padding-top: 2.5em;
		}

	}

	@media screen and (max-width: 1920px) {

		.main.style2 .content {
			width: 40%;
		}

	}

	@media screen and (max-width: 1280px) {

		.main.style2 .content {
			width: 50%;
		}

	}

	@media screen and (max-width: 1000px) {

		.main.style2 .content {
			width: 60%;
		}

	}

	@media screen and (max-width: 736px) {

		.main > .content br {
			display: none;
		}

		.main.fullscreen {
			height: auto !important;
		}

		.main.style1 {
			padding: 4em 15px 4em 15px;
		}

			.main.style1 h2 {
				font-size: 3em;
			}

		.main.style2 {
			padding: 6em 15px 6em 15px;
		}

			.main.style2:before, .main.style2:after {
				display: none !important;
			}

			.main.style2 .button.anchored {
				display: none;
			}

			.main.style2 .content {
				width: 100%;
				max-width: 100%;
				text-align: center;
				-moz-transform: none;
				-webkit-transform: none;
				-ms-transform: none;
				transform: none;
			}

		.main.style3 {
			text-align: center;
			padding: 3em 10px 3em 10px;
		}

	}

	@media screen and (max-width: 480px) {

		.main > .content {
			max-width: calc(100% - 1.5em);
		}

	}


	@media screen and (max-width: 1000px) {

		#footer {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			line-height: 1.5em;
			text-align: center;
			padding: 2em 1em 2em 1em;
		}

			#footer > * {
				margin: 0 0 1em 0;
			}

	}

	@media screen and (max-width: 736px) {

		#footer ul.menu li {
			border-left: none;
			display: block;
			line-height: inherit;
			margin: 0.25em 0 0 0;
			padding: 0.25em 0 0 0;
		}

			#footer ul.menu li:first-child {
				margin-top: 0;
				padding-top: 0;
			}

	}

	@media screen and (max-width: 736px) {

		#contact .box {
			padding: 1.5em 1.5em 2em 1.5em;
		}

	}

	@media screen and (max-width: 480px) {

		#contact .box {
			padding: 1em 1em 2em 1em;
		}

	}